.side-by-side {
  display: flex;
}

.side-by-side:only-child {
  flex: 1;
  margin: 1em;
}

.clickable {
  cursor: pointer;
}

.right {
  right: 0.8em;
  position: absolute;
}

.left {
  left: 0.8em;
  position: absolute;
}
